* {
  outline: 1px solid red !important;
}

body {
    background-color: grey;
}

#display {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-end;
    width: 300px;
    height: 150px;
    font-size: 30px;
    color: white;
    border: 1px solid black;
    background-color: darkgrey;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-button {
    width: 75px;
    aspect-ratio: 1/1;
}

.calc-button.top {
    width: 150px;
    height: 75px;
}

#clear-button {
    width: 375px;
    height: 75px;
}