/* * {
  outline: 1px solid red !important;
} */

body {
    background-color: #323232;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
}

#display {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: flex-end;
    width: 299px;
    height: 100px;
    font-size: 30px;
    color: white;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #323232;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-btn,
.equals-btn,
.operand-btn,
.number-btn{
    width: 75px;
    aspect-ratio: 1/1;
    color: white;
}

.top,
.operand-btn {
    background-color: #323232;
}

.number-btn,
.dot-btn {
    background-color: #3b3b3b;
}

.equals-btn {
    color: black;
    background-color: #c98322;
}

.dot-btn {
    font-size: 20px;
}

.top {
    width: 150px;
    height: 75px;
    color: white;
}

#display-number {
    padding-left: 2px;
}

